<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Home Design</key>
	<array>
		<dict>
			<key>id</key>
			<integer>245</integer>
			<key>name</key>
			<string>Cabinetry</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>246</integer>
			<key>name</key>
			<string>Cleaning</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>247</integer>
			<key>name</key>
			<string>Lighting Installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>248</integer>
			<key>name</key>
			<string>Painting</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>249</integer>
			<key>name</key>
			<string>Plumbing Installation</string>
		</dict>
		<dict>
			<key>250</key>
			<integer>132</integer>
			<key>name</key>
			<string>Plumbing Repair</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>251</integer>
			<key>name</key>
			<string>Renovation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>252</integer>
			<key>name</key>
			<string>Roofing Repair</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>253</integer>
			<key>name</key>
			<string>Smart Home Installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>254</integer>
			<key>name</key>
			<string>Tiling Installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>255</integer>
			<key>name</key>
			<string>Wiring / Power Point</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>256</integer>
			<key>name</key>
			<string>Blinds and Shades Making and Installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>257</integer>
			<key>name</key>
			<string>Ceiling and Flooring Design</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>258</integer>
			<key>name</key>
			<string>Curtain and Drapes Making and Installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>259</integer>
			<key>name</key>
			<string>Interior Design Consultancy</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>260</integer>
			<key>name</key>
			<string>Lighting Consultancy</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>261</integer>
			<key>name</key>
			<string>House mover</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>262</integer>
			<key>name</key>
			<string>Piano movers</string>
		</dict>
	</array>
	<key>Events</key>
	<array>
		<dict>
			<key>id</key>
			<integer>263</integer>
			<key>name</key>
			<string>Balloon Artistry</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>264</integer>
			<key>name</key>
			<string>Music Band Entertainment</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>265</integer>
			<key>name</key>
			<string>DJ</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>266</integer>
			<key>name</key>
			<string>Event florist</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>267</integer>
			<key>name</key>
			<string>Event Hair Styling</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>268</integer>
			<key>name</key>
			<string>Event Hair and Make up</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>269</integer>
			<key>name</key>
			<string>Event Make up</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>270</integer>
			<key>name</key>
			<string>Face Painting</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>271</integer>
			<key>name</key>
			<string>Karaoke Rental Machine</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>272</integer>
			<key>name</key>
			<string>Magician</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>273</integer>
			<key>name</key>
			<string>Party Planning</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>274</integer>
			<key>name</key>
			<string>Party Supplies Rental</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>275</integer>
			<key>name</key>
			<string>Photo Booth Rental</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>276</integer>
			<key>name</key>
			<string>Wedding Planning</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>277</integer>
			<key>name</key>
			<string>Food and Beverage</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>278</integer>
			<key>name</key>
			<string>Catering</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>279</integer>
			<key>name</key>
			<string>Food truck and cart services</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>280</integer>
			<key>name</key>
			<string>Wedding Cakes</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>281</integer>
			<key>name</key>
			<string>Photography</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>282</integer>
			<key>name</key>
			<string>Event Videography</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>283</integer>
			<key>name</key>
			<string>AV equipment and rental</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>284</integer>
			<key>name</key>
			<string>Audio Recording</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>285</integer>
			<key>name</key>
			<string>Wedding Photography</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>286</integer>
			<key>name</key>
			<string>Wedding Videography</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>287</integer>
			<key>name</key>
			<string>Video Editing</string>
		</dict>
	</array>
	<key>Lessons</key>
	<array>
		<dict>
			<key>id</key>
			<integer>288</integer>
			<key>name</key>
			<string>Academic</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>289</integer>
			<key>name</key>
			<string>Dance Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>290</integer>
			<key>name</key>
			<string>Instrument Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>291</integer>
			<key>name</key>
			<string>Singing Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>292</integer>
			<key>name</key>
			<string>Basketball Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>293</integer>
			<key>name</key>
			<string>Personal Training</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>294</integer>
			<key>name</key>
			<string>Swimming Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>295</integer>
			<key>name</key>
			<string>Tennis Lessons</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>296</integer>
			<key>name</key>
			<string>Yoga Lessons</string>
		</dict>
	</array>
	<key>Business</key>
	<array>
		<dict>
			<key>id</key>
			<integer>297</integer>
			<key>name</key>
			<string>Accounting</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>298</integer>
			<key>name</key>
			<string>Business Consulting</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>299</integer>
			<key>name</key>
			<string>Government Grants</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>300</integer>
			<key>name</key>
			<string>HR and Payroll services</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>301</integer>
			<key>name</key>
			<string>Marketing</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>302</integer>
			<key>name</key>
			<string>Security Guard</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>303</integer>
			<key>name</key>
			<string>Sales</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>304</integer>
			<key>name</key>
			<string>Tax Preparation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>305</integer>
			<key>name</key>
			<string>Language Translation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>306</integer>
			<key>name</key>
			<string>Resume Writing</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>307</integer>
			<key>name</key>
			<string>Transcription</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>308</integer>
			<key>name</key>
			<string>Web Content Writing</string>
		</dict>
	</array>
	<key>Design, Web, Tech</key>
	<array>
		<dict>
			<key>id</key>
			<integer>309</integer>
			<key>name</key>
			<string>Computer Repair</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>310</integer>
			<key>name</key>
			<string>Data Recovery Service</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>311</integer>
			<key>name</key>
			<string>Graphic Design</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>312</integer>
			<key>name</key>
			<string>Logo Design</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>313</integer>
			<key>name</key>
			<string>Phone or Tablet Repair</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>314</integer>
			<key>name</key>
			<string>Web Design</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>315</integer>
			<key>name</key>
			<string>Web Development</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>316</integer>
			<key>name</key>
			<string>Mobile App Development</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>317</integer>
			<key>name</key>
			<string>Software Development</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>318</integer>
			<key>name</key>
			<string>Router / Modem installation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>319</integer>
			<key>name</key>
			<string>Print, Packaging and Labelling</string>
		</dict>
	</array>
	<key>Wellness</key>
	<array>
		<dict>
			<key>id</key>
			<integer>320</integer>
			<key>name</key>
			<string>Acupuncture Service</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>321</integer>
			<key>name</key>
			<string>Massage Therapy (only for female)</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>322</integer>
			<key>name</key>
			<string>Nutritionist</string>
		</dict>
	</array>
	<key>Misc</key>
	<array>
		<dict>
			<key>id</key>
			<integer>323</integer>
			<key>name</key>
			<string>Dog Training</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>324</integer>
			<key>name</key>
			<string>Dog walking</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>325</integer>
			<key>name</key>
			<string>Pet Care</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>326</integer>
			<key>name</key>
			<string>Pet Sitting</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>327</integer>
			<key>name</key>
			<string>Pest Control Services</string>
		</dict>
	</array>
	<key>Legal</key>
	<array>
		<dict>
			<key>id</key>
			<integer>328</integer>
			<key>name</key>
			<string>Bankruptcy Lawyer</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>329</integer>
			<key>name</key>
			<string>Drunk driving and Criminal Lawyer</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>330</integer>
			<key>name</key>
			<string>Divorce Lawyer</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>331</integer>
			<key>name</key>
			<string>Family Lawyer</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>332</integer>
			<key>name</key>
			<string>Immigration Lawyer</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>333</integer>
			<key>name</key>
			<string>Legal Document Preparation</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>334</integer>
			<key>name</key>
			<string>Notarization</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>335</integer>
			<key>name</key>
			<string>Personal Injury Lawyer</string>
		</dict>
	</array>
</dict>
</plist>
